body {
	background-color: #006FA6;
	font-family: sans-serif;
	color: #FFF;
}
tr:nth-child(odd) {
	background-color: #78A5C0;
}
tr {
	text-align: center;
}
tr:nth-child(even) {
	background-color: #00395B;
}
th {
	background-color: #FF95BC;
}
@font-face {
	font-family: "CaviarDreams";
	src: url("CaviarDreams.ttf");	
}
h1,.members {
	font-family: "CaviarDreams";
}
.picture {
	background-image: url("help.jpg"); 
	width:300px; 
	height:300px;
	margin: auto;
}